@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    color: #f3f3f3;
    margin: 0;
}

/* mobile friendly alternative to using background-attachment: fixed */
body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: #1b1b32;
    background-image: linear-gradient(115deg,
            rgba(58, 58, 158, 0.8),
            rgba(136, 136, 206, 0.7)),
        url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

h1 {
    font-weight: 400;
    line-height: 1.2;
    padding-left: 43px;
}

p {
    font-size: 1.125rem;
}

h1,
p {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

label {
    display: flex;
    align-items: left;
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}


button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
select {
    width: 100%;
    padding: 5px;
    margin: 10px 0;
}
.info input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    line-height: inherit;
}

.main_title {
    display: grid;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

button {
    border: none;
}

.container {
    width: 100%;
    margin: 3.125rem auto 0 auto;
}
.check{
    display: flex;
}
.checkBox{
   width: 1rem;
   height: 1rem;
    margin-right: 15px;
}
.check_box{
    margin:25px 0;
}
.radio{
    width: 1rem;
    height: 1rem;
    margin-right: 10px;
}
.radio-class{
    margin: 20px 0;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

form {
    background: rgba(27, 27, 50, 0.8);
    padding: 2.5rem 0.625rem;
    border-radius: 0.25rem;
}

@media (min-width: 480px) {
    form {
        padding: 2.5rem;
    }
}

textarea {
    min-height: 120px;
    width: 100%;
    padding: 0.625rem;
    margin-bottom: 20px;
}

#submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
    background: #37af65;
    color: inherit;
    border-radius: 2px;
    cursor: pointer;
}
